<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.syncfusion.com/ej2/26.1.35/material.css" />
	<script src="https://cdn.syncfusion.com/ej2/26.1.35/dist/ej2.min.js"></script> 
	
</head>
<body>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
	<footer>
		<p>
			Created <i class="fa fa-heart"></i> by,
			<a target="_blank" href="https://github.com/AyeshPerera25"> Ayesh Perera</a>
			| IIT ID: 20232591 | UOW ID: 20848064 | 7SENG001C Enterprise Application Development – CWK 1 (2024)
		</p>
	</footer>
	<style>
		footer {
			background-color: #373C3F;
			color: #fff;
			font-size: 14px;
			bottom: 0;
			position: fixed;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 999;
		}

			footer p {
				margin: 10px 0;
			}

			footer i {
				color: red;
			}

			footer a {
				color: #3c97bf;
				text-decoration: none;
			}
	</style>
	
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
	<ejs-scripts></ejs-scripts>
</body>
@if (TempData["message"] != null)
{
	if (TempData["messageTyp"] != null && TempData["messageTyp"] == "S")
	{
		<script type="text/javascript">
			toastr.success('@TempData["message"]');
		</script>
	}
	else if (TempData["messageTyp"] != null && TempData["messageTyp"] == "E")
	{
		<script type="text/javascript">
			toastr.error('@TempData["message"]');
		</script>
	}
	else if (TempData["messageTyp"] != null && TempData["messageTyp"] == "I")
	{
		<script type="text/javascript">
			toastr.info('@TempData["message"]');
		</script>
	}
	else if (TempData["messageTyp"] != null && TempData["messageTyp"] == "W")
	{
		<script type="text/javascript">
			toastr.warning('@TempData["message"]');
		</script>
	}
}
</html>
