@{
    ViewData["Title"] = "Courses Page";

}

@model List<CoursesViewModel>


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/DashboardStyle.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <partial name="_DashboardMenu" />

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2-Dashboard">Courses</h1>
                    <a href="#" class="logo">MY <b class="b1">Progress </b><b class="b2"> Tracker</b></a>
                    <button class="btn-logout" id="btn-logout">Logout</button>
                </div>
                <div class="row-tabl">
                    <div class="tbl-btn-container">
                        <button type="button" class="btn-tbl-add" id="btn-tbl-courses-add">+Add New Course</button>
                    </div>
                    
                    <table class="tabl-courses">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Course</th>
                                <th>Institute</th>
                                <th> No of Semesters</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody> 
                            @{
                                foreach( var course in Model)
                                {
                                    <tr>
                                        <td> @course.CourseId </td>
                                        <td> @course.CourseName </td>
                                        <td> @course.UniversityName </td>
                                        <td> @course.NoOfSemesters </td>
                                        <td> @course.CourseStartDate.ToShortDateString()</td>
                                        <td> @course.CourseEndDate.ToShortDateString()</td>
                                        <td> @course.CourseDescription </td>
                                        <td>
                                            <button type="button" class="btn-tbl-edit" )">Edite</button>
                                            <button type="button" class="btn-tbl-delete" )">Delete</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <style>
        .nav-item-courses .nav-link{
            color: #FF4B2B;
        }
    </style>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Custom JS -->
    <script src="~/js/dashboardscript2.js"></script>
</body>

</html>
