@{
    ViewData["Title"] = "StudySessions Page";

}
@model List<StudySessionViewModel>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/DashboardStyle.css" asp-append-version="true" />
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <partial name="_DashboardMenu" />

            <!-- Main Content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2-Dashboard">Study Sessions</h1>
                    <a href="#" class="logo">MY <b class="b1">Progress </b><b class="b2"> Tracker</b></a>
                    <button class="btn-logout" id="btn-logout">Logout</button>
                </div>
                <div class="row-tabl">
                    <div class="tbl-btn-container">
                        <button type="button" class="btn-tbl-add" id="btn-tbl-session-add">+Add New Study Session</button>
                    </div>

                    <table class="tabl-courses">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Session Name</th>
                                <th>Subject</th>
                                <th>Course</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Description</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                foreach (var session in Model)
                                {
                                    <tr>
                                        <td> @session.SessionId </td>
                                        <td> @session.SessionName </td>
                                        <td> @session.SubjectName </td>
                                        <td> @session.CourseName </td>
                                        <td> @session.SessionStartTime</td>
                                        <td> @session.SessionEndTime</td>
                                        <td> @session.SessionDescription </td>
                                        <td>
                                            <button type="button" class="btn-tbl-edit" )">Edite</button>
                                            <button type="button" class="btn-tbl-delete" onclick="DeleteSession('@session.SessionId')" )">Delete</button>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <style>
        .nav-item-studysessions .nav-link {
            color: #FF4B2B;
        }
    </style>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Custom JS -->
    <script src="~/js/dashboardscript2.js"></script>
</body>
<script>
    var tblAddSession = document.getElementById('btn-tbl-session-add');
    if (tblAddSession != null) {
        tblAddSession.onclick = function () {
            window.location.href = 'AddSessionView';
        };
    }
    var btnLogout = document.getElementById('btn-logout')
    if (btnLogout != null) {
        btnLogout.onclick = function () {
            window.location.href = 'Logout';
        };
    }
    function DeleteSession(sessionId) {
        if (confirm("Are you sure you want to delete this session?")) {
            window.location.href = '@Url.Action("DeleteSession", "Dashboard")' + '?sessionId=' + sessionId;
        }
    }
</script>
</html>
